{ 
  "extends": [
    "airbnb/base",
    "plugin:import/typescript"
  ],
  "rules": {
    "no-underscore-dangle" : "off",
    "no-plusplus": "off",
    "import/extensions": "off"
  },
  "env": {
    "browser": true
  }
}